<section class="container recipe-list-section">
    <recipe-search (searchEvent)="OnSearch($event)" class="search-bar"/>

    <div class="list-items">
        <list-item 
            *ngFor="let recipeHeader of filteredRecipeHeaders"
            [recipeHeader]="recipeHeader" 
            (detailsRequest)="OnDetailClick($event)" />

        <div class="no-recipe-found" *ngIf="filteredRecipeHeaders.length === 0">
            <span>No Recipes Found</span>
        </div>

        <div class="add-recipe-button">
            <button class="btn btn-primary" (click)="OnAddRecipeClick()">
                <img src="../../assets/svg/add.svg" alt="">
                <span>Add Recipe</span>
            </button>
        </div>

    </div>
</section>