<div class="recipe-view">
    <header class="recipe-header">
        <button class="reset-button close-button" (click)="OnCloseButtonClick()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="close-button-icon">
                <path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
            </svg>
        </button>
        <img class="recipe-image" [src]="recipe.UrlImage" alt="header-image">
    </header>
    
    <section class="recipe-info-section">
        <h1 class="fit-content center my-3 recipe-name">{{ recipe.Name }}</h1>
    
        <div class="inline-block w-100 center my-3">
            <div class="inline-block w-100 ingredients-person-count">
                <img src="../../assets/svg/silverware.svg" alt="" class="text-icon">
                <span class="fit-content text-icon">{{peopleCount}} Persona</span>
    
                <div class="ingredients-person-count-controls">
                    <button class="reset-button" (click)="OnPersonAddButtonClick()"> <img src="../../assets/svg/personAdd.svg" alt="" class="text-icon me-2"> </button>
                    <button class="reset-button" (click)="OnPersonRemoveButtonClick()"> <img src="../../assets/svg/personRemove.svg" alt="" class="text-icon me-2"> </button>
                </div>
            </div>
            <div class="inline-block w-100">
                <img src="../../assets/svg/clock.svg" alt="" class="text-icon">
                <span class="fit-content text-icon"> {{ recipe.ExecutionTime }} minuti</span>
            </div>
        </div>
    
        <h2>INGREDIENTS</h2>
    
        <ul class="recipe-ingredients">
            <li *ngFor="let ingredient of recipe.Ingredients">{{ingredient.quantity}}{{ingredient.measure}} {{ingredient.name}}</li>
        </ul>
    </section>
    
    <section class="recipe-instructions-section">
        <h2> DIRECTIONS </h2>
    
        <ul class="recipe-instructions">
            <li *ngFor="let instruction of recipe.Instructions">{{instruction}}</li>
        </ul>
    
        <section class="recipe-edit">
            <button class="reset-button me" (click)="OnDeleteButtonClick()"> <img src="../../assets/svg/delete.svg" alt="" class="text-icon"> </button>
            <button class="reset-button" (click)="OnEditButtonClick()"> <img src="../../assets/svg/edit.svg" alt="" class="text-icon"> </button>
        </section>
    </section>
</div>
