<div class="input-wrapper" [ngClass]="'wrapper-'.concat(label).concat(id.toString())">
    <div class="form-floating">
        <input 
        class="input form-control"
        [ngClass]="'input-'.concat(label).concat(id.toString())"
        type="text"
        (focus)="OnFocus()" 
        (mouseleave)="OnInputMouseLeave()"
        (keyup)="OnKeyUp($event)" />

        <label for="input">{{label}}</label>
    </div>
    <div 
        class="options" 
        [ngClass]="'options-'.concat(label).concat(id.toString())" 
        (mouseover)="OnOptionsMouseOver()" 
        (mouseleave)="OnOptionsMouseLeave()"
        >
        <div *ngFor="let option of filteredOptions" class="form-control option-controls">
            <span class="option-value" (click)="OnSelect(option)">
                {{option}}
            </span>
            <button type="button" class="reset-button delete-button" (click)="OnDelete(option)">
                <img src="../../assets/svg/delete.svg" alt="">
            </button>
        </div>
    </div>    
</div>
