<div class="input-wrapper" [ngClass]="'wrapper-'.concat(label)">
    <div class="form-floating">
        <input 
        class="input form-control"
        [ngClass]="'input-'.concat(label)"
        type="text"
        (focus)="OnFocus()" 
        (focusout)="OnFocusOut()" 
        (keyup)="OnKeyUp($event)" />

        <label for="input">{{label}}</label>
    </div>
    <div class="options" [ngClass]="'options-'.concat(label)">
        <div *ngFor="let option of filteredOptions" class="option-controls">
            <span class="me-3 option-value" (click)="OnSelect(option)">
                {{option}}
            </span>
            <button type="button" class="reset-button delete-button" (click)="OnDelete(option)">
                <img src="../../assets/svg/delete.svg" alt="">
            </button>
        </div>
    </div>    
</div>
