/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: DancingFont;
    src: url("./assets/fonts/DancingScript-Regular.ttf");
}

*, ::after, ::before {
    box-sizing: border-box;
}

