<div class="recipe-edit">
    <header>
        <h1> Edit - {{recipe.Name}} </h1>
    </header>
    <main>
        <form class="edit-form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtName" [value]="recipe.Name" required>
                <label for="txtName">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="txtExecutionTime" min="1" [value]="recipe.ExecutionTime" required>
                <label for="txtExecutionTime">Execution Time</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtUrlImage" [value]="recipe.UrlImage" required>
                <label for="txtUrlImage">Image URL</label>
            </div>

            <div class="mb-3">
                <input-list [dataSource]="recipe.Ingredients" label="Ingredients" (DataSourceChangedEvent)="OnIngredientsChanged($event)"/>
            </div>

            <div class="mb-3">
                <input-list [dataSource]="recipe.Instructions" label="Instructions" (DataSourceChangedEvent)="OnInstructionsChanged($event)"/>
            </div>

            <div class="form-floating description">
                <textarea class="form-control" id="txtDescription" [value]="recipe.Description" required>
                </textarea>
                <label for="txtDescription">Description</label>
            </div>
        </form>
    </main>
    <footer>
        <button class="btn btn-warning me-2" (click)="OnDiscardChanges()">
            <img src="../../../assets/svg/discardEdit.svg" alt="" class="text-icon me-1">
            <span>Discard changes</span>
        </button>

        <button class="btn btn-success btn-save" (click)="OnSave()">
            <img src="../../../assets/svg/tick.svg" alt="" class="text-icon me-1">
            <span>Save</span>
        </button>
    </footer>
</div>
