<table border="1">
    <thead>
        <tr >
            <th *ngFor="let header of headers"> {{header}} </th>
            <th> Modifica</th>
            <th> Elimina </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libri">
            <td>
                <button (click)="btnDettagli_Click(libro.id)">{{ libro.id }}</button>
            </td>
            <td>{{libro.author}}</td>
            <td>{{libro.country}}</td>
            <td >{{libro.pages}}</td>
            <td>{{libro.title}}</td>
            <td>{{libro.year}}</td>
            <td>
                <button (click)="btnModifica_Click(libro.id)">Modifica</button>
            </td>
            <td>
                <button (click)="btnElimina_Click(libro.id)">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>

<hr />
<h1>Inserimento</h1>
<button (click)="btnInserisci_Click()">Inserisci</button>